@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body, #root{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: .5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.light > ::-webkit-scrollbar-thumb, .light::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  &:hover{
    background: rgba(0, 0, 0, .8);
  }
}

.dark > ::-webkit-scrollbar-thumb, .dark::-webkit-scrollbar-thumb  {
  background: rgba(255, 255, 255, 0.6);
  &:hover{
    background: rgba(255, 255, 255, 0.8);
  }
}


@keyframes background-pan {
  from {
      background-position: 0 center;
  }
  to {
      background-position: -200% center;
  }
}

.bg-animate-pan {  
    background: linear-gradient(
      to right,
      rgb(123, 31, 162),
      rgb(103, 58, 183),
      rgb(244, 143, 177),
      rgb(123, 31, 162)
  );
  background-size: 200%;
  background-clip: text;
  animation: background-pan 3s linear infinite;
}

.card__ellipse{
  transform-origin: center;
    animation: rotateCardBG 15s ease-in-out infinite;
}

@keyframes rotateCardBG{
  0%, 100% {
    transform: scale(1.5) rotate(-45deg) translate(0);
  }
  25% {
    transform: scale(2.5) rotate(45deg) translate(20px,50px);
  }
  50% {
    transform: scale(1.5) rotate(90deg) translate(100px,-100px);
  }
  75% {
    transform: scale(1.5) rotate(-45deg) translate(200px,100px);
  }
}

.text-shadow{
  background: radial-gradient(40% 70% at 50% 100%, rgba(255, 255, 255, 0.4), rgb(255, 255, 255)) text;
  @apply text-transparent bg-clip-text;
}


.blur-blue-purple {
  top: -25%;
  left: -25%;
}
.blur-blob {
  position: absolute!important;
  max-width: 100%;
}
.blur-three-colors {
  top: 10%;
  right: 0;
  opacity: 1;
}
.blur-teal {
  top: 30%;
  left: -30%;
}
.blur-teal-pink {
  bottom: 20%;
  right: 5%;
}
#blob-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  z-index: 1;
  perspective: 100px;
  -webkit-backdrop-filter: blur(100px) saturate(120%);
  backdrop-filter: blur(100px) saturate(120%);
}

.animate-text {
  -webkit-animation: fade-in .8s ease, slide-in .8s ease;
  animation: fade-in .8s ease, slide-in .8s ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.hero-background{
  .hero-background-circle{
    &::after{
      content: "";
      border-radius: inherit;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, transparent 90%, rgba(255, 255, 255, .05) 100%);
    }
    &::before{
      background: linear-gradient(to top, transparent 70%, rgba(255, 255, 255, .05) 100%);
      border-radius: inherit;
      content: "";
      inset: 0;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: xor;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px;
      pointer-events: none;
      position: absolute;
    }
  }

}

.circle-ring{
  box-shadow: 0 20px 84px #0b021766;
  @apply grayscale dark:grayscale-0;
  animation: technicalNestingRotate linear infinite;
  background-color: rgba(255, 255, 255, .05);
  &:nth-child(1){
    animation-duration: 5s;
  }
  &:nth-child(2){
    animation-duration: 7s;
  }
  &:nth-child(3){
    animation-duration: 9s;
  }
}

.grid-animation{
  transition: 1s cubic-bezier(.6,.6,0,1) opacity;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  z-index: 9;
  div{
    animation: topAnimation 6s infinite cubic-bezier(.62,.62,.28,.67);
    background: linear-gradient(180deg, rgba(183, 164, 251, 0) 0, #b7a4fb 100%, #8562ff 100%, rgba(133, 98, 255, 0) 0%);
    transform: translateY(-202px);
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 88888;
  }
}

@keyframes technicalNestingRotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: -1turn;
  }
}

@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes topAnimation {
  0% {
    transform: translateY(-202px);
  }
  33%, 100% {
      transform: translateY(202px);
  }
}

@layer utilities{
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .absolute-center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .animate-load{
    animation: load 200ms ease-in both;
  }
}

img{
  @apply drag-none;
}

@mixin gradientBorder{
  @apply bg-[radial-gradient(50%_56400%_at_50%_100%,_rgba(61,_61,_63,_0.24)_0%,_rgba(61,_61,_63,_0)_100%)] dark:bg-[radial-gradient(50%_56400%_at_50%_100%,_rgba(169,_163,_194,_.24)_0%,_rgba(169,_163,_194,_0)_100%)];
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.bottom-border{
  position: relative;
  &::before{
    bottom: 0;
    @include gradientBorder();
  }
}

.top-border{
  position: relative;
  &::after{
    top: 0;
    @include gradientBorder();
  }
}


.badge{
  &::after{
    background: linear-gradient(90.01deg, rgba(229, 156, 255, .24) .01%, rgba(186, 156, 255, .24) 50.01%, rgba(156, 178, 255, .24) 100%);
    border-radius: inherit;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    position: absolute;
  }
}
